/data/config.pl
/data/multi.pid
/data/docs/8
/data/log/
/data/icons/icons.css
/static/f/js/
/static/f/icons.png
/static/feeds/
/static/s/*/style.css
/static/s/*/style.css.gz
/static/s/*/boxbg.png
/static/ch
/static/cv
/static/sf
/static/st
/static/robots.txt
/static/api
/util/sql/editfunc.sql
/www/
