/data/config.pl
/data/multi.pid
/data/docs/8
/data/log/
/static/f/js/
/static/feeds/
/static/s/*/style.css
/static/s/*/boxbg.png
/static/ch/
/static/cv/
/static/sf/
/static/st/
/static/robots.txt
/www/
