
body {
  margin: 15px 0 0 0;
  padding: 0 0 60px 0;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #203C36;
}

form {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  display: none;
}

input, textarea {
  padding: 2px 5px;
  border: 1px solid #B8E0D7;
  font: normal 1em Arial, Helvetica, sans-serif;
  color: #203C36;
}

h1, h2 {
  color: #203C36;
  margin: 0;
}

h1 {
  text-transform: lowercase;
  letter-spacing: -1px;
  font-size: 3em;
}

h2 {
  font-size: 1.7em;
  clear: right;
}

h3 {
  font-size: 1.1em;
  margin: 0;
}

p, ul, ol {
  margin: 0;
}
a {
  color: #69A89A;
}
a:hover {
  text-decoration: none;
}

img {
  border: none;
}

/* Header */

#header {
  width: 960px;
  height: 80px;
  margin: 0 auto;
  background: url(/files/headerbg.jpg);
}

#header h1 {
  margin: 0;
  padding: 15px 0 0 20px;
  letter-spacing: normal;
  font-size: 1em;
  color: #FFFFFF;
}

#header h1 a {
  text-decoration: none;
  color: #FFFFFF;
}

#header h1 a:hover {
  text-decoration: underline;
}

#header b {
  display: block;
  letter-spacing: -2px;
  font-size: 2.4em;
}

/* Search */

#search {
  float: right;
  width: 180px;
  padding-top: 30px;
}

#searchfield {
  width: 150px;
}

#searchsubmit {
  display: none;
}

/* Login */

#loginform {
 padding: 0;
 margin: 0 0 0 20px;
}
#loginform input {
  width: 40px;
  margin: 0;
  padding: 1px;
  position: relative;
}
#loginform #usrname, #loginform #usrpass {
  width: 70px;
  border: 0;
}

/* Page */

#page {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
  background: url(/files/headerbot.png) no-repeat;
}

#content {
  float: left;
  width: 700px;
}

/* Side */

#side {
  float: right;
  padding: 0;
  background: url(/files/sidebg.jpg);
  color: #fff;
}
#side div {
  background: url(/files/sidebarbg.jpg) no-repeat;
}
#side div div {
  width: 240px;
  padding: 0 0 60px 0;
  background: url(/files/sidebarbot.jpg) no-repeat left bottom;
}

#side a {
  color: #fff;
}

#side h2 {
  padding: 20px 20px 0 15px;
  text-transform: uppercase;
  font-family: "Arial Black", Arial, Helvetica, sans-serif;
  font-size: .8em;
  color: #fff;
}

#side ul {
  margin: 0;
  padding: 0 20px 0 20px;
  list-style: none;
}

#side li {
  padding: 0;
}

#side p {
  margin: 0;
  padding: 0 0 0 20px;
}
#side li.more {
  font-style: italic;
}

/* Footer */

#footer {
  clear: both;
  padding: 10px 0;
}

#footer p {
  margin: 0;
  text-align: center;
  color: #999999;
  font-size: 0.8em;
}

#footer a {
  color: #999999;
}

/* Forms */
#content form {
  display: block;
  margin: 20px 0 10px 0;
  padding: 0;
}
#content form.tblf {
  margin: 0;
}
form ul {
  margin: 0;
  padding: 0;
}
form li {
  display: block;
  clear: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
form ul ul {
  margin: 0; padding: 0;
  clear: left;
} 
form li.nolabel, form ul ul {
  padding: 0 0 0 110px;
}
form li.nextpart {
  padding: 10px 0 0 0;
}
#content label, #content input, #content textarea, #content select, form li b, form li p {
  display: block;
  float: left;
}
form li label i, form p.formnotice i {
  display: inline;
  color: #f00;
}
input.text, select {
  width: 200px;
}
select, input.text, textarea {
  border: 1px solid #B8E0D7;
  font: normal 1em Arial, Helvetica, sans-serif;
  color: #203C36;
}
form label.checkbox {
  width: auto;
}
select.multiple {
  height: 120px;
  width: 230px;
}
#md_conts, #pd_conts, #rl_conts, #vn_conts {
  display: block;
  float: left;
  background-color: #e3ecff;
  border: 1px dashed #b4b4ff;
  padding: 2px;
}
#rl_select {
  width: 280px;
}
form li.longopts select {
  width: 350px;
}
form li.shortopts input {
  width: 50px;
}
form li i {
  float: left;
}
input.hidden {
  display: none;
  position: absolute;
  top: -30px;
}
label, form li b {
  width: 110px;
  font-weight: normal;
}
form li.nolabel b {
  display: inline;
  width: auto;
  font-weight: bold;
  float: none;
}
form li.subform {
  padding: 10px 0 0 0;
  clear: both;
}
form li.subform a {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f0f0f0;
  text-decoration: none;
  font-weight: bold;
  color: #7AB9AB;
}
li.formhid {
  float: none;
  position: absolute;
  top: -2000px;
  left: -2000px;
  width: 10px;
}
form li.date select {
  width: 100px;
}

/* Platform selecter */
form ul.platforms {
  clear: none;
  padding: 0;
  margin: 0 0 0 110px;
}
form ul.platforms li {
  float: left;
  clear: none;
}
form ul.platforms li label {
  width: 150px;
}
form ul.platforms input {
  padding: 0;
  margin: 0 2px 0 2px;
  border: 0;
  height: 14px;
}

/* Warning & msg box */
span.warning {
  display: block;
  margin: 5px 10% 5px 10%;
  padding: 3px 5px 3px 60px;
  background: #ffece3 url('/files/warning.png') no-repeat;
  border: 1px dashed #ffb4b4;
  min-height: 57px;
}
* html span.warning { height: 57px; }
span.msg {
  display: block;
  margin: 5px 10% 5px 10%;
  padding: 3px 5px 3px 5px;
  border: 1px dashed #3cb700;
  background: #bfffb5;
}
span.warning ul, span.msg ul {
  padding: 0 0 0 15px;
}

/* VN page header, general dl and list markup */
dt {
  float: left;
  font-style: italic;
}
dd {
  padding: 0 0 0 50px;
}
dl.vnrel dd, dl.vncat dd {
  padding: 0 0 0 75px;
}
ul.vnani i { color: #999 }
ul.vnani b { color: #999; font-weight: normal; font-size: 10px; }
ul.vnani acronym { border: 0 }
ul {
  padding: 0 0 0 17px;
}
p.actions {
  display: inline;
  margin: 0 0 0 5px;
  font-weight: normal;
  font-size: 12px;
  color: #999;
}
#vnheader div {
  width: 256px;
  float: left;
  text-align: center;
}
#vnheader div img {
  margin: 0 auto 0 auto;
}
#vnheader #nsfw {
  cursor: pointer;
}
#vnheader dl, #vnheader ul {
  margin: 0 0 0 270px;
  padding: 0;
}
#vnheader li { list-style-type: none; margin: 0; padding: 0; }
#vnheader h3 {
  margin: 5px 0 0 260px;
  font-size: 13px;
}
#vnheader p.mod {
  margin: 0;
}


/* producer search */

form#psearch fieldset {
  display: block;
  width: 700px;
  text-align: center;
}
form#psearch input { margin: 0 auto; float: none; position: relative; display: inline }


ul.home {
  float: left;
  list-style-type: none;
  width: 210px;
  margin-top: 30px;
}
ul.home li { padding: 0; }
ul.home.break { clear: left; }
h3.home {
  clear: left;
  padding-top: 30px;
}


/* edit links and stuff */

p.mod {
  float: right;
  color: #999;
}
div.dropdown {
  width: 100px;
  position: absolute;
  left: -500px;
  top: 0;
  border: 1px solid #d0d0d0;
  border-bottom: none;
}
div.dropdown ul, div.dropdown ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d0d0d0;
}
div.dropdown a, div.dropdown b {
  display: block;
  width: 90px;
  margin: 0;
  padding: 2px 5px;
  text-decoration: none;
}
div.dropdown b {
  font-weight: normal;
  font-style: italic;
  color: #666;
}
div.dropdown li.center a {
  text-align: center;
}
div.dropdown a:hover {
  background-color: #e0e0e0;
}


/* paragraph markups... */

p#relations {
  margin: 20px 0 0 0;
  width: 100%;
  text-align: center;
}
p.desc {
  padding: 0 10px 0 10px;
}
p.chr {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
}
p.browse {
  width: 100%;
  text-align: center;
}
b.mod, a.mod {
  color: #f00;
}


/* vn search */

form#vsearch fieldset {
  display: block;
  width: 700px;
  text-align: center;
}
form#vsearch input { margin: 0 auto; float: none; position: relative; display: inline }
form#vsearch input.text { width: 400px; }
b#adsearchclick { cursor: pointer }

ul.filter { margin: 0 0 0 15px; padding: 0; list-style-type: none }
ul.filter li { float: left; padding: 4px 10px 0 0; }
ul.filter label { width: auto; color: #666; font-size: 11px; margin: 0; padding: 0 0 0 1px;}
ul.filter input { border: 0; margin: 0; }



/* categories */

ul#cat {
  margin: 0 0 0 15px;
  padding: 0;
}
ul#cat ul {
  list-style-type: none;
  padding: 0;
}
ul#cat input {
  padding: 0;
  margin: 0 2px 0 2px;
  border: 0;
  height: 14px;
}
ul#cat li, form ul#cat li {
  display: block;
  width: 170px;
  float: left;
  clear: none;
  font-weight: bold;
}
ul#cat li li {
  display: list-item;
  width: auto;
  float: none;
  clear: left;
  font-weight: normal;
  padding: 0 0 0 20px;
  margin: 0;
  cursor: pointer;
  list-style-type: none;
  background: url(/files/select.png) no-repeat;
}
form ul#cat li li {
  padding: 0;
  background: none;
}
form ul#cat li li b { width: 13px; font-weight: bold; }
form ul#cat li li a { color: #000; text-decoration: none; display: block; width: 160px; }
ul#cat li li.inc { background-position: 0px -16px; color: #090; }
ul#cat li li.exc { background-position: 0px -33px; color: #900; }
i.crgn0 { font-style: normal; }
i.crgn1 { font-style: normal; color: #bbb; }
i.crgn2 { font-style: normal; }
i.crgn3 { font-style: normal; font-weight: bold; }



/* DOCUMENTATION PAGES */
#dpage h3 { margin-top: 25px;  }
#dpage h3 a { color: #203C36; text-decoration: none; }
#dpage dd { padding-bottom: 5px; margin-left: 70px; }
#dpage ul.index { display: block; float: right; width: 150px; padding: 2px; margin: 0 0 10px 5px; background-color: #f1f1f1; border: 1px solid #ccc; }
#dpage ul.index li { list-style-type: none; }
#dpage ul.index li a { margin: 0 0 0 10px; }
#dpage .retired { text-decoration: line-through; }
#dpage dt b { color: #999; font-weight: normal; font-style: normal; font-size: 12px; }



#content input.right, #content select.right {
  float: right;
}
#vnlistchange { width: 130px; }
p.opts {
  clear: left;
  text-align: center;
  width: 100%;
  background-color: #f0f0f0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 1px 0;
}
ul#stats {
  clear: left;
  list-style-type: none;
  padding: 0px 0 0 5px;
}
ul#stats li {
  padding: 0;
  display: block;
  width: 345px;
  float: left;
  margin: 0 0 20px 0;
}
ul#stats li.break {
  clear: left;
}

acronym {
  border-bottom: 1px dotted #999;
}
acronym.date {
  border: 0;
}
b.future { font-weight: normal; color: #900; }


/*  icon image sprites */

a.rss {
  display: block;
  height: 16px;
  width: 16px;
  background: url(/files/rss.png) no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  float: right;
}
.icons {
  background: url(/files/icons.png) no-repeat;
  width: 16px;
  height: 14px;
  margin: 0 2px 0 0;
  overflow: hidden;
  display:-moz-inline-stack;
  display: inline-block;
  padding: 0;
  border: 0;
  text-decoration: none;
}
.icons.lang {
  width: 13px;
  height: 11px;
  border: 1px solid #999;
 /* see def.js for an ugly FF hack */
}
.icons.par, .icons.tri, .icons.com { width: 11px; }
acronym.icons { cursor: default; }
.icons.oth { background: none; }
.icons.drc { background-position:   0px   0px; }
.icons.lin { background-position:   0px -14px; }
.icons.nds { background-position:   0px -28px; }
.icons.ps2 { background-position:   0px -42px; }
.icons.sfc { background-position:   0px -56px; }
.icons.gba { background-position:   0px -70px; }
.icons.ext { background-position:   0px -84px; }
.icons.par { background-position:   0px -98px; }
.icons.dvd { background-position: -16px   0px; }
.icons.mac { background-position: -16px -14px; }
.icons.ps1 { background-position: -16px -28px; }
.icons.psp { background-position: -16px -42px; }
.icons.win { background-position: -16px -56px; }
.icons.wii { background-position: -16px -70px; }
.icons.tri { background-position: -16px -84px; }
.icons.com { background-position: -16px -98px; }
.icons.cs  { background-position: -32px   0px; }
.icons.da  { background-position: -32px -11px; }
.icons.de  { background-position: -32px -22px; }
.icons.en  { background-position: -32px -33px; }
.icons.es  { background-position: -32px -44px; }
.icons.fi  { background-position: -32px -55px; }
.icons.fr  { background-position: -32px -66px; }
.icons.it  { background-position: -32px -77px; }
.icons.ja  { background-position: -32px -88px; }
.icons.ko  { background-position: -32px -99px; }
.icons.nl  { background-position: -45px   0px; }
.icons.no  { background-position: -45px -11px; }
.icons.pl  { background-position: -45px -22px; }
.icons.pt  { background-position: -45px -33px; }
.icons.ru  { background-position: -45px -44px; }
.icons.sv  { background-position: -45px -55px; }
.icons.tr  { background-position: -45px -66px; }
.icons.zh  { background-position: -45px -77px; }


/* tables */

table td { vertical-align: top; }
table { width: 100%; border-collapse: collapse; }
thead tr td { font-weight: bold; }
thead tr td a { text-decoration: none; }
#content table input {
  width: 13px;
  height: 13px;
  margin: 0;
  float: right;
}

/* revisions */
#tmc { width: 650px; margin: 0 0 30px 30px; border: 1px solid #ddd; background-color: #fbfbfb; clear: both; }
#tmc thead tr td { font-weight: normal; text-align: center; }
#tmc .tc1, #tmc .tc2 { border-right: 1px solid #ddd; }
#tmc .tc1 { font-weight: bold; padding-right: 10px; }
#tmc .tc1 { width: 100px; }
#tmc .tc2, #tmc .tc3 { width: 275px; }
div#tmc { text-align: center; }
div#revbrowse { margin: 20px 0 0 30px; width: 650px; text-align: center; } /* position: relative; top: 17px; left: 30px; */
a#revnext { float: right }
a#revprev { float: left; }
b.diff_add { font-weight: normal; background-color: #cfc; }
b.diff_del { font-weight: normal; background-color: #fcc; }

#tvg tr, #tus tr { background-color: #fff!important }
#tvg .tc1, #tus .tc1 { width: 25px; text-align: right; padding-right: 3px; }
#tvg .tc2 div, #tus .tc2 div { margin: 0 5px 0 0; padding: 0; float: left; background: url(/files/graph.png); height: 13px; }
#tus .tc1 { width: 60px }

#tvr .tc3, #tvl .tc5, #tur .tc3, #tul .tc8, #thi .tc6 { text-align: right }

#tvl .tc1, #tvl .tc2, #tvl .tc3 { white-space: nowrap; padding-right: 10px; }

#thi { clear: both }
#thi .tc1 { width: 35px; }
#thi .tc2 { width: 110px; }

#tre tr { background-color: #fff!important; }
#tre tr.lang { background-color: #f5f5f5!important; font-style: italic; }

#tre .tc1 { width: 75px; padding-left: 10px; }
#tre .tc2 { width: 50px; text-align: center; white-space: nowrap; }
#tre .tc3, #tre .tc5 { width: 16px; margin: 0; padding: 0; white-space: nowrap; text-align: right }
#tre .tc3 { width: 70px; }

#tbv .tc2 acronym, #tbv .tc3 acronym {
  zoom: 1;
  opacity: 0.7;
  filter:alpha(opacity=70);
  -moz-opacity: 0.7;
}
#tbv .tc2, #tbv .tc3 { margin: 0; padding: 0; white-space: nowrap }
#tbv .tc2 { text-align: right; padding-right: 3px; }

#tpd .tc1 { margin: 0; padding: 0; }

#debug {
  border-top: 1px solid #ffb4b4;
  background-color: #ffece3;
  height: 70px;
  overflow: auto;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

