

* {
  margin: 0;
  padding: 0; 
}

body, td {
  font: 8pt "Tahoma";
}
body {
  background: #000 url(/f/bg.jpg) no-repeat;
  color: #ddd;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dotted #fff;
}
table {
  border-collapse: collapse;
}
table td {
  vertical-align: top;
  padding: 3px;
}
table tr.odd {
  background: url(/f/boxbg.png) repeat;
}

#bgright {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 433px;
  height: 140px;
  background: url(/f/bgright.jpg) no-repeat;
}

#header {
  position: absolute;
  top: 80px;
  left: 400px;
}
#header h1, #header h1 a {
  font-family: "Futura", "Century New Gothic", "Arial", Serif;
  font-size: 19pt;
  font-style: italic;
  color: #135;
  border: none!important;
}
ul {
  margin-left: 35px;
}
p.locked {
  float: right;
  color: #e44;
  font-style: italic;
  margin: 0!important;
}





/***** general form markup *****/

form, fieldset {
  border: 0;
  display: block;
}
legend {
  display: none;
}
input.text, input.submit, select, textarea {
  background-color: #135;
  color: #ccc;
  border: 1px solid #36A;
  font: 9pt "Tahoma";
  margin: 1px;
}
input.submit {
  background-color: #123;
  padding: 1px;
}
input.text, select {
  width: 200px;
}
fieldset.submit {
  width: 100%;
  text-align: center;
  margin: 5px;
}
fieldset.submit input {
  width: 200px;
}
fieldset.submit h2 {
  font-size: 9pt!important;
}
fieldset.submit textarea {
  margin: 0 20px 5px 20px;
}
table.formtable {
  margin: 0 20px 20px 20px;
}
table.formtable td {
  padding: 0;
}
table.formtable tr.newfield td {
  padding-top: 5px;
}
table.formtable tr.newpart td {
  padding-top: 20px;
  font-weight: bold;
}
td.label, td.label label {
  width: 90px;
}
td.label label {
  display: block;
}
td.field label {
  margin: 0 0 0 5px;
}




/***** main content *****/

#maincontent {
  position: absolute;
  top: 169px;
  left: 190px;
  right: 30px;
  margin: 0;
  padding-bottom: 50px!important;
}
#maincontent h1, #maincontent h2 {
  font-family: "Futura", "Century New Gothic", "Arial", Serif;
  font-weight: normal;
  font-size: 11pt;
}
#maincontent h1 {
  color: #258;
  font-size: 14pt;
  margin: -5px 0 15px 0;
}
#maincontent h2.alttitle {
  color: #fff;
  margin: -17px 0 15px 15px;
}
#maincontent div.mainbox {
  border: 1px solid #258;
  margin: 21px 0 -10px 0;
  padding: 5px;
  background: url(/f/boxbg.png) repeat;
}
#maincontent div.mainbox a {
  color: #7bd;
}
#maincontent p {
  margin: 3px 20px;
}
#maincontent div div p, #maincontent div table p {
  margin: 0;
}
#maincontent h2 {
  font-weight: bold;
  font-size: 11pt;
  margin: 10px 0 0 5px;
}
p.center {
  text-align: center;
}
b.future {
  font-weight: normal;
  color: #e44;
}




/***** menu *****/

#menulist {
  position: absolute;
  left: 30px;
  top: 190px;
  width: 150px;
}
#menulist div.menubox {
  margin: 0 0 10px 0;
  border: 1px solid #258;
  background: url(boxbg.png) repeat;
}
#menulist div.menubox div {
  padding: 2px 7px;
}
#menulist h2 {
  border-bottom: 1px solid #258;
  background-color: #234;
  padding: 1px 3px;
}
#menulist h2, #menulist h2 a {
  font-size: 8pt;
  color: #fff;
}
#menulist dt {
  display: block;
  float: left;
  width: 85px;
  font-style: italic;
}
#menulist dd {
  width: 40px;
  float: left;
  text-align: right;
}
#menulist p {
  text-align: center;
}
#menulist input.text {
  width: 100px;
  margin-left: 15px;
}
#menulist input.submit {
  width: 40px;
  margin-left: 45px;
}




/***** main tabs *****/

#maincontent ul.maintabs {
  display: inline;
  margin: 0;
}
#maincontent ul.maintabs.notfirst {
  display: block;
  height: 20px;
}
#maincontent ul.maintabs li {
  display: inline;
  list-style-type: none;
}
#maincontent ul.maintabs li a {
  float: right;
  display: block;
  height: 14px;
  border: 1px solid #258;
  border-bottom: none;
  padding: 1px 7px 5px 7px;
  margin: 0 0 0 10px;
  background-color: #012;
}
#maincontent ul.maintabs.notfirst li a {
  margin-top: 20px;
}
#maincontent ul.maintabs.bottom li a {
  margin-top: 10px;
  border-bottom: 1px solid #258;
  border-top: none;
  padding: 4px 7px 2px 7px;
}
#maincontent ul.maintabs li.left a {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
#maincontent ul.maintabs li.tabselected a,
#maincontent ul.maintabs li a:hover {
  background-color: #0c1925;
  padding-bottom: 6px;
}
#maincontent ul.maintabs.bottom li.tabselected a,
#maincontent ul.maintabs.bottom li a:hover {
  padding-bottom: 2px;
  padding-top: 5px;
  margin-top: 9px;
}




/***** Browsing ******/

p.browseopts {
  text-align: center;
  padding: 2px;
}
p.browseopts a {
  padding: 1px 3px;
  color: #fff!important;
  border: 1px solid #258;
  margin: 0 2px;
}
p.browseopts a.optselected, p.browseopts a:hover {
  border: 0;
  padding: 2px 4px;
}
#maincontent div.mainbox.browse {
  padding: 0;
}
div.mainbox.browse table {
  width: 100%;
}
div.mainbox.browse table td.tc1 {
  padding-left: 25px;
}
table thead td {
  font-weight: bold;
  background-color: #135;
  /*background-color: #112337;*/
}
form.search {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
}
form.search .submit {
  padding: 0 1px;
}

/* history browser */
div.mainbox.history td.tc1_1 {
  text-align: right;
  padding-left: 15px;
  padding-right: 0;
  width: 40px;
}
div.mainbox.history td.tc1_2 {
  padding-left: 0;
  width: 25px;
}
div.mainbox.history td.editsum {
  color: #258;
  padding-top: 0;
  text-align: right;
}



/***** Discussions ******/

#maincontent div.mainbox.thread {
  padding: 0;
}
div.thread td {
  border-bottom: 1px solid #258;
}
div.thread td.tc1 {
  width: 150px;
  padding: 5px 10px;
  border-right: 1px solid #258;
}
div.thread td.tc2 {
  padding: 10px 20px;
}



/***** VN page *******/

div.vndetails {
  margin: 0 auto;
  width: 700px;
}
div.vnimg {
  float: left;
  width: 250px;
  margin: 0 10px;
}
div.vndetails table {
  float: left;
  width: 430px;
}
div.vndescription {
  clear: left;
  padding: 5px 0 0 0;
}
div.vndescription h2 {
  margin: 0 30px;
  border-top: 1px solid #258;
  padding: 3px 70px;
  font-weight: bold!important;
}
div.vndescription p {
  margin: 0 100px;
}




/***** Producer page/list *******/

.producerpage p.description {
  margin: 10px 100px!important;
}
.producerpage ul {
  margin: 0 50px;
}
.producerpage li {
  padding-top: 3px;
  list-style-type: none;
}
.producerpage li i {
  display: block;
  font-style: normal;
  float: left;
  width: 80px;
}

.producerbrowse ul {
  float: left;
  margin-top: -5px;
  margin-left: 25px;
  min-width: 170px;
}
.producerbrowse ul li {
  list-style-type: none;
}
.producerbrowse ul li acronym {
  margin-right: 5px;
  margin-top: 1px;
}
.producerbrowse {
  padding-bottom: 10px!important
}




/***** Warning/Notice Box *****/

div.warning, div.notice {
  margin: 5px 10%;
  padding: 15px;
  background-color: #534;
  border: 1px solid #C00;
}
div.notice {
  background-color: #354;
  border: 1px solid #0C0;
}
div.warning ul, div.notice ul {
  margin-left: 0;
}
div.warning li, div.notice li {
  margin-left: 20px;
}
#maincontent div.warning h2, #maincontent div.notice h2 {
  font-size: 9pt;
  font-weight: bold;
  margin: 0;
}




/****** Revision information ******/

div.revision {
  padding-bottom: 10px!important;
}
div.revision div, div.revision table {
  border: 1px solid #258;
  margin: 0 auto;
  width: 90%;
  /*background: url(/f/boxbg.png) repeat;*/
  background-color: #13273a;
  clear: both;
}
div.revision table thead tr td {
  background-color: transparent!important;
  text-align: center;
  font-weight: normal;
}
div.revision table td {
  border-right: 1px solid #258;
  padding: 5px;
}
div.revision div {
  padding: 5px;
  text-align: center;
}
.diff_add {
  font-weight: normal;
  background-color: #354;
}
.diff_del {
  font-weight: normal;
  background-color: #534;
}
div.revision .next {
  float: right;
  margin-right: 5%;
}
div.revision .prev {
  float: left;
  margin-left: 5%;
}
div.revision .item {
  text-align: center;
}
div.revision .tcname {
  width: 100px;
}





/****** Icons *******/

.icons {
  background: url(/f/icons.png) no-repeat;
  width: 16px;
  height: 14px;
  margin: 0 2px 0 0;
  overflow: hidden;
  display:-moz-inline-stack;
  display: inline-block;
  padding: 0;
  border: 0;
  text-decoration: none;
}
.icons.lang {
  width: 13px;
  height: 11px;
  opacity: 0.5;
}
.icons.par, .icons.tri, .icons.com { width: 11px; }
acronym.icons, acronym.uicons { cursor: default; }
.icons.oth { background: none; }
.icons.drc { background-position:   0px   0px; }
.icons.lin { background-position:   0px -14px; }
.icons.nds { background-position:   0px -28px; }
.icons.ps2 { background-position:   0px -42px; }
.icons.sfc { background-position:   0px -56px; }
.icons.gba { background-position:   0px -70px; }
.icons.ps3 { background-position:   0px -84px; }

.icons.dvd { background-position: -16px   0px; }
.icons.mac { background-position: -16px -14px; }
.icons.ps1 { background-position: -16px -28px; }
.icons.psp { background-position: -16px -42px; }
.icons.win { background-position: -16px -56px; }
.icons.wii { background-position: -16px -70px; }
.icons.xb3 { background-position: -16px -84px; }

.icons.com { background-position: -32px   0px; }
.icons.par { background-position: -32px -14px; }
.icons.tri { background-position: -32px -28px; }
.icons.ext { background-position: -32px -42px; }
.icons.msx { background-position: -32px -56px; }
.icons.nes { background-position: -32px -70px; }

.icons.cs  { background-position: -48px   0px; }
.icons.da  { background-position: -48px -11px; }
.icons.de  { background-position: -48px -22px; }
.icons.en  { background-position: -48px -33px; }
.icons.es  { background-position: -48px -44px; }
.icons.fi  { background-position: -48px -55px; }
.icons.fr  { background-position: -48px -66px; }
.icons.it  { background-position: -48px -77px; }
.icons.ja  { background-position: -48px -88px; }

.icons.nl  { background-position: -61px   0px; }
.icons.no  { background-position: -61px -11px; }
.icons.pl  { background-position: -61px -22px; }
.icons.pt  { background-position: -61px -33px; }
.icons.ru  { background-position: -61px -44px; }
.icons.sv  { background-position: -61px -55px; }
.icons.tr  { background-position: -61px -66px; }
.icons.zh  { background-position: -61px -77px; }
.icons.ko  { background-position: -61px -88px; }

