

* {
  margin: 0;
  padding: 0;
}

body, td {
  font: 11px "Tahoma";
}
body {
  $_bodybg$;
  color: $maintext$
}
a {
  color: $maintext$;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px dotted $maintext$;
}
table {
  border-collapse: collapse;
}
table td {
  vertical-align: top;
  padding: 3px;
}
table tr.odd {
  background: url($_boxbg$) repeat;
}
img {
  border: none;
}

#bgright {
  position: absolute;
  top: 0px;
  right: 0px;
  $_bgright$
}

#header {
  position: absolute;
  top: 80px;
  left: 400px;
}
#header h1, #header h1 a {
  font-family: "Futura", "Century New Gothic", "Arial", Serif;
  font-size: 24px;
  font-style: italic;
  border: none!important;
  $_maintitle$
}

#footer {
  margin: 15px auto 0 auto;
  text-align: center;
  color: $footer$;
}
#footer a {
  color: $footer$;
  text-decoration: underline;
}

#debug {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #600;
  border-right: 1px solid #c00;
  border-top: 1px solid #c00;
  width: 200px;
  height: 50px;
  text-align: center;
}
#debug h2 { color: #f00!important; font-size: 20px; }
#debug, #debug a { color: #fff!important; }

ul, ol {
  margin-left: 35px;
}
p.locked {
  float: right;
  color: $standout$;
  font-style: italic;
  margin: 0!important;
}
b.grayedout { font-weight: normal; color: $grayedout$ }
#maincontent h2 b {
  font: 11px "Tahoma";
  font-weight: normal;
}
p.description {
  margin: 10px 100px!important;
}
b.done { font-weight: normal; color: $statok$ }
b.todo { font-weight: normal; color: $statnok$ }

.clearfloat {
  clear: both;
  height: 0;
}
.hidden {
  display: none
}

b.spoiler, b.spoiler a {
  color: #000;
  background-color: #000;
  font-weight: normal;
}
b.spoiler_shown { font-weight: normal }
#maincontent div.quote {
  padding: 1px 5px;
  margin: 0px 10px;
  color: $grayedout$;
  border: none;
  border-left: 1px dotted $border$;
  text-align: left;
}
.linethrough { text-decoration: line-through }
 pre {
  padding:1px 5px;
  margin: 5px 15px;
  border: 1px dotted $border$;
  border-right: none;
  border-left: 1px solid $border$;
  background: url($_boxbg$) repeat;
}




/***** general form markup *****/

form, fieldset {
  border: 0;
  display: block;
}
legend {
  display: none;
}
input.text, input.submit, select, textarea {
  background-color: $secbg$;
  color: $maintext$;
  border: 1px solid $secborder$;
  font: 12px "Tahoma";
  margin: 1px;
}
optgroup option {
  padding-left: 10px;
  font-style: normal;
}
input.submit {
  background: url($_boxbg$) repeat;
  padding: 1px;
}
input.text, select {
  width: 200px;
}
fieldset.submit {
  width: 100%;
  text-align: center;
  margin: 5px;
}
fieldset.submit input {
  width: 150px;
}
fieldset.submit h2 {
  font-size: 11px!important;
}
fieldset.submit textarea {
  margin: 0 20px 5px 20px;
}
table.formtable {
  margin: 0 20px 20px 20px;
}
table.formtable td {
  padding: 0;
}
table.formtable tr.newfield td {
  padding-top: 5px;
}
table.formtable tr.newpart td {
  padding-top: 20px;
  font-weight: bold;
}
td.label, td.label label {
  width: 90px;
}
td.label label {
  display: block;
}
td.field label {
  margin: 0 5px 0 5px;
}




/***** main content *****/

#maincontent {
  position: absolute;
  top: 169px;
  left: 190px;
  right: 30px;
  margin: 0;
  padding-bottom: 50px!important;
}
#maincontent h1, #maincontent h2 {
  font-family: "Futura", "Century New Gothic", "Arial", Serif;
  font-weight: normal;
  font-size: 13px;
}
#maincontent h1 {
  color: $boxtitle$;
  font-size: 19px;
  margin: -5px 0 15px 0;
}
#maincontent h2.alttitle {
  color: $alttitle$;
  margin: -17px 0 15px 15px;
  font-weight: normal;
}
#maincontent div.mainbox, #maincontent table.mainbox td {
  border: 1px solid $border$;
  margin: 21px 0 -10px 0;
  padding: 5px;
  background: url($_boxbg$) repeat;
}
#maincontent .mainbox a {
  color: $link$;
}
#maincontent p {
  margin: 3px 20px;
}
#maincontent div div p, #maincontent div table p {
  margin: 0;
}
#maincontent h2 {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 0 5px;
}
p.center {
  text-align: center;
}
b.future, b.standout, a.standout {
  font-weight: normal;
  color: $standout$;
}




/***** menu *****/

#menulist {
  position: absolute;
  left: 30px;
  top: 190px;
  width: 150px;
}
#menulist div.menubox {
  margin: 0 0 10px 0;
  border: 1px solid $border$;
  background: url($_boxbg$) repeat;
}
#menulist div.menubox div {
  padding: 2px 7px;
}
#menulist h2 {
  border-bottom: 1px solid $border$;
  background: url($_boxbg$) repeat;
  padding: 1px 3px;
}
#menulist h2, #menulist h2 a {
  font-size: 11px;
  color: $maintext$;
}
#menulist h2 #lang_select {
  float: right;
  padding-top: 1px;
}
#menulist dt {
  display: block;
  float: left;
  width: 85px;
  font-style: italic;
}
#menulist dd {
  width: 40px;
  float: left;
  text-align: right;
}
#menulist p {
  text-align: center;
}
#menulist input.text {
  width: 100px;
  margin-left: 15px;
}
#menulist input.submit {
  width: 90px;
  margin-left: 20px;
}
#menulist #search input.text {
  width: 133px;
  margin: 0 0 3px 7px;
  font-style: italic;
}
#menulist #search input.submit {
  display: none;
}
#dd_box acronym { margin: 2px 5px 2px 0!important; }




/***** main tabs *****/

#maincontent ul.maintabs {
  display: inline;
  margin: 0;
}
#maincontent ul.maintabs.notfirst {
  display: block;
  height: 20px;
}
#maincontent ul.maintabs li {
  display: inline;
  list-style-type: none;
}
#maincontent ul.maintabs li a {
  float: right;
  display: block;
  height: 14px;
  border: 1px solid $border$;
  border-bottom: none;
  padding: 1px 7px 5px 7px;
  margin: 0 0 0 10px;
  background-color: $tabbg$;
}
#maincontent ul.maintabs.notfirst li a {
  margin-top: 20px;
}
#maincontent ul.maintabs.bottom li a {
  margin-top: 10px;
  border-bottom: 1px solid $border$;
  border-top: none;
  padding: 4px 7px 2px 7px;
}
#maincontent ul.maintabs li.left a {
  float: left;
  margin-left: 0;
  margin-right: 10px;
}
#maincontent ul.maintabs li.tabselected a,
#maincontent ul.maintabs li a:hover {
  background-color: $_blendbg$;
  padding-bottom: 6px;
}
#maincontent ul.maintabs.bottom li.tabselected a,
#maincontent ul.maintabs.bottom li a:hover {
  padding-bottom: 2px;
  padding-top: 5px;
  margin-top: 9px;
}





/***** Homepage ******/

#maincontent .mainbox.threelayout {
  border-collapse: separate;
  border-spacing: 10px;
  margin: 10px -10px -20px -10px;
  min-width: 100%;
}
#maincontent .mainbox.threelayout td {
  width: 32%;
  padding: 0 2px 10px 2px;
}
#maincontent .mainbox.threelayout h1 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
#maincontent .mainbox.threelayout h2 {
  font-size: 12px;
  margin-top: 3px;
}
#maincontent .mainbox.threelayout a.right {
  float: right;
}
#maincontent .mainbox.threelayout ul {
  list-style-type: none;
  margin-left: 10px;
}
p.screenshots {
  text-align: center;
  margin-top: 10px;
  padding: 0;
  height: 105px;
}
p.screenshots img {
  margin: 2px;
}
#maincontent .mainbox.threelayout h1 a {
  color: $boxtitle$;
}





/***** Browsing ******/

p.browseopts {
  text-align: center;
  padding: 2px;
}
#maincontent p.browseopts a {
  padding: 1px 3px;
  color: $maintext$;
  border: 1px solid $border$;
  margin: 0 2px;
}
#maincontent p.browseopts a.optselected,
#maincontent p.browseopts a:hover {
  border: 0;
  padding: 2px 4px;
}
#maincontent div.mainbox.browse {
  padding: 0;
}
div.mainbox.browse table {
  width: 100%;
}
div.mainbox.browse table td.tc1 {
  padding-left: 25px;
}
table thead td {
  font-weight: bold;
  background-color: $secbg$;
}
fieldset.search {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 10px 0;
}
fieldset.search .submit {
  padding: 0 1px;
}
p.searchtabs {
  height: 12px;
  padding-right: 70px;
}
p.searchtabs a {
  padding: 2px 6px 2px 6px;
  margin: 0 2px;
  color: $maintext$!important;
}
p.searchtabs a:hover, p.searchtabs a.sel {
  border: 1px solid $secborder$;
  border-bottom: none;
  padding: 1px 5px 2px 5px;
  background: $secbg$ url($_boxbg$) repeat;
}
#q { width: 350px }

/* history browser */
div.mainbox.history td.tc1_1 {
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  width: 60px;
  *width: auto; /* IE7 sucks */
}
div.mainbox.history td.tc1_2 {
  padding-left: 0;
  width: 25px;
}
div.mainbox.history td.tc2 { width: 65px; }
div.mainbox.history td.tc3 { width: 90px  }
tr.msgsum td {
  color: $grayedout$;
  padding-top: 0;
  text-align: right;
}
a#expandlist { float: right }
a#expandlist:hover { border-bottom: none }






/***** Discussions ******/

/* threads page */
#maincontent div.mainbox.thread {
  padding: 0;
}
div.thread table {
  width: 100%;
}
div.thread td {
  border-bottom: 1px solid $border$;
}
div.thread td.tc1 {
  width: 150px;
  padding: 5px 10px;
  border-right: 1px solid $border$;
}
div.thread td.tc2 {
  padding: 10px 20px 10px 10px;
}
div.thread tr.deleted td {
  padding: 1px 10px;
}
div.thread i.deleted {
  font-style: normal;
  color: $grayedout$;
}
div.thread i.lastmod {
  float: right;
  font-size: 10px;
  color: $grayedout$;
  margin: 0 -10px -5px 0;
}
div.thread i.edit {
  float: right;
  color: $grayedout$;
  font-style: normal;
  margin: -10px -10px 0 0;
}

/* threads browser */
div.mainbox.discussions td.tc4 {
  text-align: right;
}
div.mainbox.discussions a.locked {
  text-decoration: line-through;
}
div.mainbox.discussions td.boards {
  padding-top: 0;
  padding-left: 60px;
}
div.mainbox.discussions td.boards a {
  color: $grayedout$!important
}
div.discussions td.tc2 { width: 50px;  }
div.discussions td.tc3 { width: 90px;  }
div.discussions td.tc4 { width: 170px; }
#maincontent h1.boxtitle, #maincontent h1.boxtitle a {
  font-family: "Futura", "Century New Gothic", "Arial", Serif;
  font-weight: bold;
  font-style: italic;
  color: $grayedout$;
  font-size: 17px;
  margin: 20px 0 -20px 0;
}





/***** VN page *******/

div.vndetails {
  margin: 0 auto;
  width: 800px;
}
div.vnimg {
  float: left;
  width: 250px;
  margin: 0 10px;
}
div.vnimg i {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
div.vnimg p {
  text-align: center;
  padding: 0px;
  margin: 0;
}
.vndesc h2 {
  margin: 5px 0 0 0!important;
}
.vndesc p {
  padding: 0 0 0 5px;
}
p#nsfw_hid {
  display: none;
  cursor: pointer;
}
div.vndetails table {
  float: left;
  width: 530px;
}
div.vndetails table td.key {
  width: 80px;
}
div.vndetails table dt {
  float: left;
  font-style: italic;
}
div.vndetails table dd {
  margin-left: 90px;
}

div.vndetails td.relations dt {
  float: none;
  font-style: normal;
}
div.vndetails td.relations dd {
  margin-left: 15px;
}
div.vndetails td.anime b {
  font-size: 8px;
  font-weight: normal;
  padding-right: 4px;
}
div#vntags {
  margin: 15px 30px 0 30px;
  border-top: 1px solid $border$;
  padding: 1px 5% 0 5%;
  text-align: center;
}
#vntags span { white-space: nowrap; margin-left: 15px; }
#vntags b { color: $grayedout$; font-weight: normal; font-size: 8px }
#tagops {
  float: right;
  text-align: right;
  width: auto;
  margin: 0 30px;
}
#tagops a { margin: 0 0 0 10px;  border: 0; outline: none }
#tagops a.sec { border-left: 1px solid $border$; padding-left: 10px }
#maincontent #tagops a.tsel { color: $maintext$; }

.releases table, #screenshots table {
  width: 100%;
}
.releases tr.lang td, #screenshots tr.rel td {
  background: url($_boxbg$) repeat;
  font-weight: bold;
}
.releases td.tc1 {
  padding-left: 30px;
  width: 80px;
}
.releases td.tc2 {
  text-align: center;
  width: 50px;
}
.releases td.tc3 {
  text-align: right;
  padding: 0;
  width: 90px;
}
.releases td.tc5 {
  width: 140px;
}
.releases td.tc5 a {
  color: $maintext$!important;
  border: 0;
}
.releases td.tc6 {
  text-align: right;
  width: 25px;
  padding: 0;
}
a.addnew {
  float: right;
}

#screenshots p.rel {
  background: url($_boxbg$) repeat;
  margin: 0;
  padding: 2px;
  font-weight: bold;
  text-align: center;
}
#screenshots a.scrlnk     { margin: 2px; border: none }
#screenshots div.scr      { display: block; padding-left: 30px; text-align: center }
#screenshots img          { border: 3px solid transparent; }
#screenshots a.nsfw img   { border: 3px solid $statnok$; }
#screenshots a:hover img  { border: 3px solid $border$; }
#screenshots #nsfwshown   { font-style: normal }
#screenshots p.nsfwtoggle { float: right; margin: 0; }


#dd_box { position: absolute; left: -500px; border: 1px solid $border$; background-color: $secbg$; }
#dd_box ul { list-style-type: none; margin: 0; padding: 0 }
#dd_box li b { display: block; font-weight: normal; padding-left: 5px; }
#dd_box li i { display: block; font-style: normal; padding-left: 10px; padding-right: 5px }
#dd_box li a { display: block; padding-left: 10px; color: $link$; border: 0; padding-right: 5px }
#dd_box li a:hover { background: url($_boxbg$) repeat }
#dd_box .vrdd { width: 180px; }
#dd_box .vrdd ul { float: left; width: 90px; }
#dd_box .vrdd ul.full { width: 180px; text-align: center; }
#dd_box .vrdd ul.full li a { padding: 0 }




/***** Vote stats ****/

.votestats { width: 610px; margin: 0 auto; }
.votegraph { float: left; margin-right: 20px }
.votegraph td        { padding: 0 2px; }
.votegraph td.number { text-align: right }
.votegraph td div    { float: left; height: 14px; background-color: $border$; margin-right: 2px; padding: 0; }
.votestats thead td { background: transparent; text-align: center; padding: 2px; }
.votestats tfoot td  { text-align: right }
.votestats div { text-align: center; padding-top: 5px; }

.recentvotes { width: 300px }




/***** VN edit *****/

#jt_box_vn_rel table  { margin-bottom: 10px; }
#jt_box_vn_rel h2     { margin: 0 0 3px 0px; }
#jt_box_vn_rel td     { padding: 1px 2px; vertical-align: middle; }
#jt_box_vn_rel td.tc_vn    { width: 300px; text-align: right }
#jt_box_vn_rel td.tc_rel   { width: 170px;  white-space: nowrap }
#jt_box_vn_rel td.tc_title { width: 200px; }
#jt_box_vn_rel td.tc_add   { width: 40px; text-align: right }
#jt_box_vn_rel td.tc_vn input   { width: 280px; }
#jt_box_vn_rel td.tc_rel select { width: 130px; }

#ds_box {
  position: absolute;
  top: -500px;
  border: 1px solid $border$;
  border-top: none;
  background-color: $secbg$;
  cursor: pointer;
}
#ds_box b {
  padding: 2px 0 0 10px; 
}
#ds_box tr.selected {
  background: url($_boxbg$) repeat;
}
#ds_box table {
  width: 100%;
}

#jt_box_vn_img div.img {
  float: left;
  height: 400px;
  padding-right: 20px;
}
#jt_box_vn_img h2 {
  margin: 0;
}

#jt_box_vn_scr table { width: 95% }
#scr_table td { height: 108px; border-top: 1px solid #258; padding: 0; padding-right: 5px }
#scr_table td.thumb { width: 136px; vertical-align: middle }
#scr_table select { width: 400px; }
div.scr_uploader { visibility: hidden; overflow: hidden; width: 1px; height: 1px; position: absolute; left: -500px; top: -500px; }





/****** VN browse ********/

.vnbrowse thead .tc_s { padding-left: 30px }
.vnbrowse .tc_s { width: 65px }
.vnbrowse .tc2 { text-align: right; padding: 0; }
.vnbrowse .tc3 { padding: 0; }
.vnbrowse .tc5 { text-align: right; padding-right: 10px }
.vnbrowse .tc6 { width: 80px }
#advselect {
  text-align: center;
  display: block;
  margin: 10px auto 3px auto;
  border: none;
  outline: none;
}
#advoptions {
  width: 90%;
  padding: 0 30px 5px 30px;
  margin: 0 auto;
  border-top: 1px solid $border$;
}
#advoptions h2 {
  clear: left;
  padding-top: 10px;
  margin-left: -20px;
  margin-top: 0;
  margin-bottom: 3px;
}
#advoptions span {
  display: block;
  float: left;
  width: 170px;
}
#advoptions span input {
  margin-right: 3px;
}




/***** Producer page/list *******/

.producerpage ul {
  margin: 0 50px;
}
.producerpage li {
  padding-top: 3px;
  list-style-type: none;
}
.producerpage li i {
  display: block;
  font-style: normal;
  float: left;
  width: 80px;
}

.producerbrowse ul {
  float: left;
  margin-top: -5px;
  margin-left: 3%;
  width: 28%;
}
.producerbrowse ul li {
  list-style-type: none;
}
.producerbrowse ul li acronym {
  margin-right: 5px;
  margin-top: 1px;
}
.producerbrowse {
  padding-bottom: 10px!important
}

/***** Producer edit *****/

#jt_box_pedit_rel table  { margin-bottom: 10px; }
#jt_box_pedit_rel h2     { margin: 0 0 3px 0px; }
#jt_box_pedit_rel td     { padding: 1px 2px; vertical-align: middle; }
#jt_box_pedit_rel td.tc_prod { width: 290px; padding-left: 10px }
#jt_box_pedit_rel td.tc_add  { width: 40px; text-align: left }
#jt_box_pedit_rel td.tc_prod input { width: 280px; }
#jt_box_pedit_rel td.tc_rel select { width: 130px; }




/***** Release page *****/

.release table {
  width: 400px;
  margin: 0 auto;
}
.release .key {
  width: 70px;
}

/* edit */
.platforms {  padding-left: 20px; }
.platforms span { display: block; float: left; width: 150px; }

#jt_box_rel_format h2 { clear: left; padding-top: 10px; }
#media_div select.qty { width: 90px; }
#media_div select.medium { width: 150px }
#media_div { padding-left: 20px; }
#media_div span { display: block }

#jt_box_rel_vn h2,        #jt_box_rel_prod h2       { clear: left; padding-top: 10px; }
#jt_box_rel_vn div,       #jt_box_rel_vn table,
#jt_box_rel_prod div,     #jt_box_rel_prod table    { margin-left: 20px }
#jt_box_rel_vn input,     #jt_box_rel_prod input    { margin-right: 10px; width: 295px }
#jt_box_rel_vn .tc_title, #jt_box_rel_prod .tc_name { width: 310px; padding: 2px }
#jt_box_rel_prod .tc_role select { width: 100px; margin-right: 10px; }



/***** Release browser *****/

.relbrowse .tc1 { width: 80px }
.relbrowse .tc2 { width: 60px; text-align: center; }
.relbrowse .tc3 { width: 85px; text-align: right; padding: 0; }



/***** Documentation pages *****/

.docs { padding: 0 15% 20px 15%; }
.docs h3 { margin-top: 30px; font-size: 14px }
.docs h4 { margin-top: 15px; font-size: 12px }
.docs dd { padding-bottom: 5px; margin-left: 120px; }
.docs dt { float: left }
.docs ul.index { display: block; float: right; width: 150px; padding: 2px; margin: 0 0 10px 5px; background: url($_boxbg$) repeat; border: 1px solid $border$; }
.docs ul.index li { list-style-type: none; }
.docs ul.index li a { margin: 0 0 0 10px; }
.docs .retired { text-decoration: line-through; }
.docs dt b { color: $grayedout$; font-weight: normal; font-style: normal; font-size: 12px; }




/***** Wishlist browser ******/

.wishlist .tc1 { padding-top: 0; padding-bottom: 0; }
.wishlist tfoot td { padding: 0 0 0 25px }



/***** User VN list browser ******/

#expandall, .collapse_but { cursor: pointer }
#expandall i, .collapse_but i { font-style: normal }
.browse.rlist .tc2 { width: 100px; }
.browse.rlist .tc3 { width: 70px; }
.browse.rlist .relhid .tc1 { padding-left: 40px; width: 70px; }
.browse.rlist .relhid .tc1.own { padding: 0 0 0 25px; width: 95px }
.browse.rlist .relhid input { margin-right: 5px }
.browse.rlist .relhid .tc2 { padding: 0; width: 30px; }
.browse.rlist .relhid .tc3 { width: auto }
.browse.rlist .relhid .tc4 { text-align: right }




/***** Userpage *****/

.userpage table {
  width: 400px;
  margin: 0 auto;
}
.userpage .key {
  width: 70px;
}


/***** User posts browser ****/
div.browse.uposts td.tc1 {
  padding-left: 0!important;
  padding-right: 0;
  text-align: right;
  width: 60px;
  *width: auto; /* IE7 sucks */
}
.uposts td.tc2 {
  padding-left: 0;
  width: 25px;
}
.uposts td.tc3 { width: 65px; }





/***** Tag page *****/

.tagtree { margin-left: 20px; margin-top: -20px; list-style-type: none; }
.tagtree li { float: left; width: 200px; margin-top: 10px; }
.tagtree li li { float: none; width: auto; margin-top: 0; }
.tagtree ul { margin-left: 10px; list-style-type: none; }
.tagvnlist .tc1 { width: 105px; }
.tagvnlist .tc1 i { font-style: normal; font-size: 8px }
.tagvnlist .tc3 { text-align: right; padding: 0; }
.tagvnlist .tc4 { padding: 0; }
.tagvnlist .tc6 { text-align: right; padding-right: 10px; }

/***** Tag list *****/

.browse.taglist .tc1 { width: 80px }

/***** User tag list *****/
.browse.tagstats .tc1 { width: 80px }
.browse.tagstats .tc1_2 { padding-left: 15px }

/***** VN tagmod *****/

#jt_box_tagmod .formtable table td { padding: 1px 5px }
table.tgl tfoot td { padding-top: 20px!important; }
table.tgl .tc_you { border-right: 1px solid $border$; border-left: 1px solid $border$; width: 150px; text-align: center }
table.tgl .tc_others { border-left: 1px solid $border$; width: 150px; text-align: center }
table.tgl .tc_tagname { min-width: 200px; border-right: 1px solid $border$ }
table.tgl .tc_myvote { padding-left: 30px!important }
table.tgl .tc_myspoil { border-right: 1px solid $border$; padding-right: 30px!important; text-align: right; padding-left: 10px!important; cursor: pointer }
table.tgl .tc_allvote { padding-left: 30px!important; }
table.tgl .tc_allvote i { font-style: normal; font-size: 8px }
table.tgl .tc_allspoil { text-align: right; padding-right: 30px!important; }
.taglvl { display: block; float: left; width: 8px; height: 12px; border: 1px solid $border$; font-size: 1px; color: $maintext$!important }
.taglvl0 { width: 15px; border: none!important; font-size: 10px; text-align: center; }
div.taglvl0 { font-size: 8px; width: 20px!important }
div.taglvl { border: none!important; width: 10px; height: 14px }
a.taglvl:hover { border-bottom: 1px solid transparent!important }
.taglvlsel.taglvl-3 { background-color: #f00; border-color: #f00 }
.taglvlsel.taglvl-2 { background-color: #f40; border-color: #f40 }
.taglvlsel.taglvl-1 { background-color: #f80; border-color: #f80 }
.taglvlsel.taglvl1 { background-color: #cf0; border-color: #cf0 }
.taglvlsel.taglvl2 { background-color: #8f0; border-color: #8f0 }
.taglvlsel.taglvl3 { background-color: #0f0; border-color: #0f0 }




/***** Warning/Notice Box *****/

div.warning, div.notice {
  margin: 5px 10%;
  padding: 15px;
  background-color: $warnbg$;
  border: 1px solid $warnborder$;
}
div.notice {
  background-color: $noticebg$;
  border: 1px solid $noticeborder$;
}
div.warning ul, div.notice ul {
  margin-left: 0;
}
div.warning li, div.notice li {
  margin-left: 20px;
}
#maincontent div.warning h2, #maincontent div.notice h2 {
  font-size: 11px;
  font-weight: bold;
  margin: 0;
}




/****** Revision information ******/

div.revision {
  padding-bottom: 10px!important;
}
div.revision div, div.revision table {
  border: 1px solid $border$;
  margin: 0 auto;
  width: 90%;
  background-color: $secbg$;
  clear: both;
}
div.revision table thead tr td {
  background-color: transparent!important;
  text-align: center;
  font-weight: normal;
}
div.revision table td {
  border-right: 1px solid $border$;
  padding: 5px;
}
div.revision td.tcval {
  width: 44%;
}
div.revision div {
  padding: 5px;
  text-align: center;
}
.diff_add {
  font-weight: normal;
  background-color: $diffadd$;
}
.diff_del {
  font-weight: normal;
  background-color: $diffdel$;
}
div.revision .next {
  float: right;
  margin-right: 5%;
}
div.revision .prev {
  float: left;
  margin-left: 5%;
}
div.revision .item {
  text-align: center;
}



/****** Image Viewer *****/

div#iv_view {
  position: absolute;
  display: none;
  top: -5000px;
  left: -5000px;
  background: url($_boxbg$) repeat;
  border: 1px solid $border$;
  padding: 5px;
  text-align: center;
}
#iv_view a { border: 0; font-weight: bold; font-size: 12px }
#iv_view img { cursor: pointer }
#ivclose { float: right; padding-left: 10px }
#ivnext { padding-left: 5px; }
#ivprev { padding-right: 5px; }
#ivfull { float: left; padding-right: 10px; }
#ivimgload {
  display: block;
  position: absolute;
  left: -500px;
  top: -50px;
  width: 100px;
  padding: 3px;
  background-color: #f5f5f5; /* no real need to skin this */
  text-align: center;
  border: 1px solid #ccc;
  color: #000;
}




/****** Icons *******/

.icons {
  background: url(/f/icons.png) no-repeat;
  width: 16px;
  height: 14px;
  margin: 0 2px 0 0;
  overflow: hidden;
  display:-moz-inline-stack;
  display: inline-block;
  padding: 0;
  border: 0;
  text-decoration: none;
}
.icons {
  margin-top: 0px!important;
}
.icons.lang {
  width: 13px;
  height: 11px;
  opacity: 0.5;
}
.icons.rtcomplete, .icons.rtpartial, .icons.rttrial { width: 11px; }
acronym.icons, acronym.uicons { cursor: default; }
a .icons { cursor: pointer }
.icons.oth { background: none; }
.icons.drc { background-position:   0px   0px; }
.icons.lin { background-position:   0px -14px; }
.icons.nds { background-position:   0px -28px; }
.icons.ps2 { background-position:   0px -42px; }
.icons.sfc { background-position:   0px -56px; }
.icons.gba { background-position:   0px -70px; }
.icons.ps3 { background-position:   0px -84px; }
.icons.p98 { background-position:   0px -98px; }

.icons.dvd { background-position: -16px   0px; }
.icons.mac { background-position: -16px -14px; }
.icons.ps1 { background-position: -16px -28px; }
.icons.psp { background-position: -16px -42px; }
.icons.win { background-position: -16px -56px; }
.icons.wii { background-position: -16px -70px; }
.icons.xb3 { background-position: -16px -84px; }
.icons.sat { background-position: -16px -98px; }

.icons.rtcomplete { background-position: -32px   0px; }
.icons.rtpartial  { background-position: -32px -14px; }
.icons.rttrial    { background-position: -32px -28px; }
.icons.ext { background-position: -32px -42px; }
.icons.msx { background-position: -32px -56px; }
.icons.nes { background-position: -32px -70px; }
.icons.dos { background-position: -32px -84px; }

.icons.sk  { background-position: -35px -99px; }

.icons.cs  { background-position: -48px   0px; }
.icons.da  { background-position: -48px -11px; }
.icons.de  { background-position: -48px -22px; }
.icons.en  { background-position: -48px -33px; }
.icons.es  { background-position: -48px -44px; }
.icons.fi  { background-position: -48px -55px; }
.icons.fr  { background-position: -48px -66px; }
.icons.it  { background-position: -48px -77px; }
.icons.ja  { background-position: -48px -88px; }
.icons.hu  { background-position: -48px -99px; }

.icons.nl  { background-position: -61px   0px; }
.icons.no  { background-position: -61px -11px; }
.icons.pl  { background-position: -61px -22px; }
.icons.pt  { background-position: -61px -33px; }
.icons.ru  { background-position: -61px -44px; }
.icons.sv  { background-position: -61px -55px; }
.icons.tr  { background-position: -61px -66px; }
.icons.zh  { background-position: -61px -77px; }
.icons.ko  { background-position: -61px -88px; }
.icons.vi  { background-position: -61px -99px; }


/* Relation graph colors */
svg .border { fill: none; stroke: $border$ }
svg .edge polygon.border { fill: $border$ }
svg .nodebg { fill: $tabbg$; stroke: $tabbg$ }
svg text { fill: $maintext$ }
svg .edge text { font: 8px "Tahoma" }
#graph_current .border { stroke: $warnborder$ }
#graph_current .nodebg { stroke: $warnborder$; fill: $warnbg$ }

